body {
  background: #edeff7;
  color: #555;
  font-size: 14px;
  direction: ltr;
  overflow-x: hidden;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.mouse-hover:hover {
  cursor: pointer;
}

.white-box a {
  color: #494E58;
}

ul {
  padding-inline-start: 0;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

.pull-center {
  margin: 0 auto;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.flex-container {
  display: flex;
}

.flex-side-container {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.align-center {
  text-align: center;
}


.ant-layout {
  background: #ffffff;
}

/** Antd table modifications **/

.ant-table-row-expand-icon {
  border-radius: 0 !important;
}

.ant-table-thead>tr>th {
  padding: 10px 16px !important;
  background: #ffffff !important;
  text-transform: uppercase !important;
  color: #B5B6CD !important;
  font-weight: bold !important;
}

.ant-table-small .ant-table-thead>tr>th {
  padding: 10px 8px !important;
}



.white-table-body .ant-table-small {
  background: #ffff;
  border: none;
}

.expanded {
  width: 100%;
}

.ant-table-expanded-row .inner-body {
  margin-left: 40px !important;
}

.ant-table-expanded-row .table-inner-body {
  margin: -16px -16px -17px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ant-table-expanded-row .table-inner-body tr>th,
.ant-table-expanded-row .table-inner-body .ant-table {
  background: inherit !important;
}

.table-medium-size .ant-table-thead>tr>th,
.table-medium-size .ant-table-tbody>tr>td {
  padding: 12px 12px;
}

.ant-form-vertical .form-label-color-dark .ant-form-item-label:after,
.title-color-dark:after {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 7px;
  bottom: -14px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 34px;
  position: absolute;
  z-index: 2;
}

.ant-layout-sider {
  background: #122538 !important;
}

.ant-form-vertical .form-label-color-dark {
  margin-bottom: 0;
}

.ant-form-vertical .form-label-color-dark .ant-form-item-label {
  overflow: unset;
}

.ant-form-vertical .form-label-color-dark .ant-form-item-label label {
  font-size: 15.5px;
}

.ant-form-vertical .form-label-color-dark .ant-form-item-label,
.title-color-dark {
  border-bottom: 1px solid #fff;
  display: block;
  margin-bottom: 15px !important;
  padding: 5px 0;
  position: relative;
  color: #fff;
  font-size: 15.5px;
}

.ant-form-vertical .form-label-color-dark .ant-form-item-label:after,
.title-color-dark:after {
  border-color: #fff transparent transparent;
}

.ant-form-vertical .form-label-color-dark .ant-form-item-label,
.title-color-dark {
  color: #494E58;
  border-bottom: 1px solid #edecec;
  line-height: 30px;
}

.ant-form-vertical .form-label-color-dark .ant-form-item-label:before,
.title-color-dark:before {
  border-color: #edecec transparent transparent;
  border-style: solid;
  border-width: 6px;
  bottom: -14px;
  box-sizing: border-box;
  content: " ";
  display: block;
  left: 35px;
  position: absolute;
  z-index: 2;
}

.custom-inline-form .ant-row {
  margin-bottom: 8px !important;
}



.header-title {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #777777;
  font-family: Viga, sans-serif;
}

.medium-title-header {
  font-size: 17px;
  color: #777777;
  margin-bottom: 4px;
  font-family: Viga, sans-serif;
}

.btn-search {
  background: #E1F0FF;
  border: none;
  color: #3699FF;
  text-shadow: none;
  box-shadow: none;
}


.small-empty-table .ant-empty-normal {
  margin: 2px 0 !important;
}

.small-empty-table .ant-empty-description {
  margin-bottom: 0;
}

#position-table th {
  padding: 8px 8px !important;
  font-size: 12px;
}

.ant-modal-title {
  font-size: 17px !important;
  font-family: Viga, sans-serif;
  color: #777777 !important;
}

.ant-modal-header {
  margin-bottom: 15px !important;
}

.ant-badge-status-text {
  font-weight: bold;
  color: #777777;
}


svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

svg text::selection {
  background: none;
}

.cursor-default {
  cursor: default;
}

.cursor-crosshair {
  cursor: crosshair;
}

.ant-upload-select-picture {
  width: 100%;
}
